
body{
	font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
	font-size: 16px;
}

h2.site-title{
	margin-top: 0px;
}

h4.site-title{
	margin-top: 0px;
}


.maps-container{

}

#maps-location{
	width: 650px;
	height: 350px;
	background: gray;
}

.maps-share{
	width: 800px !important;
	
}

@media(max-width:400px){
	#maps-location{
	       width: 290px;
	       height: 350px;
	       background: gray;
       }

       img{
	max-width: 250px;
       }

}
